<div class="min-h-screen flex items-center justify-center bg-neutral-primary-soft px-4 py-8 sm:px-6">

  <div class="w-full max-w-md p-6 sm:p-8 bg-white border border-default rounded-2xl shadow-lg">
    <div class="w-90 mx-auto mb-4 flex items-center justify-center">
      <img src="assets/icon/liga sm logo.png" alt="Liga San Miguel" class="w-full h-full object-contain">
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">

      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-heading">
          Email
        </label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="w-full px-3 py-2.5 text-sm border rounded-lg bg-neutral-secondary-medium placeholder:text-gray-400  focus:ring-2 focus:ring-black focus:border-black"
          placeholder="name@mail.com"
        />
      </div>

      <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-heading">
          Contraseña
        </label>
        <input
          formControlName="password"
          type="password"
          id="password"
          class="w-full px-3 py-2.5 text-sm border rounded-lg bg-neutral-secondary-medium placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:border-black"
          placeholder="••••••••"
        />
      </div>

      <div *ngIf="errorMessage"
          class="mb-4 flex items-center gap-2 text-sm text-red-700 bg-red-100 border border-red-300 rounded-lg px-3 py-2">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        [disabled]="loading"
        class="cursor-pointer w-full text-white bg-black hover:bg-black-strong focus:ring-4 focus:ring-black-medium font-medium rounded-lg text-sm px-4 py-2.5 transition disabled:opacity-50"
      >
        <span *ngIf="!loading">Ingresar</span>
        <span *ngIf="loading">Ingresando...</span>
      </button>

    </form>

  </div>

</div>

